{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
<style>
    .create_new_task {
        text-align:center;
        font-family: arial, sans-serif;
        border: 6px solid #349beb;
        width: 50%;
        margin:auto;
        padding: 10px;
        border-style: outset;
        border-radius: 25px;
    }
</style>
{% endblock meta %}

{% block content %}

<div class = "create_new_task">

    <h1>Tambah Task Baru</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Judul: </td>
                <td><input type="text" name="title" placeholder="Judul.." class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Deskripsi: </td>
                <td><input type="text" name="description" placeholder="Desc.." class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Tambahkan"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}