{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
<style>
    .register {
        text-align:center;
        font-family: arial, sans-serif;
        border: 6px solid #349beb;
        width: 80%;
        margin:auto;
        padding: 10px;
        border-style: outset;
        border-radius: 25px;
        box-shadow: 10px 10px 100px rgb(166, 166, 166);
    }
    .center-me {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
      }
      body {
        background-image: url(https://cdn.discordapp.com/attachments/1002595520281325578/1027258247532511262/Glassmorphism_Loading_Animation_-_Study_from_Tutorial.gif);
    }
</style>
{% endblock meta %}

{% block content %}  
<body>
<div class="center-me">
<div class = "register">
    
    <h1>Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</div>
</body>
{% endblock content %}