{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
{% endblock meta %}

{% block content %}
<h1> Welcome To Task List ! </h1>
<p>Username: {{ username }}</p>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td {
      border: 1px solid #5A5353;
      text-align: left;
      padding: 8px;
    }

    th {
        border: 1px solid #5A5353;
        text-align: center;
        padding: 8px;
        color : #FFFFFF
      }
    
    tr:nth-child(even) {
      background-color: #FFFFFF;
    }

    #kategori {
        background-color: #D42600;
      }

    h1 {
      text-align: center;
    }
    p {
      text-align: left;
    }

    button : hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
      }

      h5 {
        text-align: left;
      }
    </style>
<table style = "background-color:#dddddd">
    <tr id="kategori">
    <th>Tanggal</th>
    <th>Judul Task</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in tasks %}
    <tr>
        <td>{{task.date}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
    </tr>
    {% endfor %}
</table>

<p></p>
<button><a href="{% url 'todolist:create_task' %}">Tambah Task</a></button>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button> 

{% endblock content %}