{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
<meta name="viewport", content="width=device-width, initial-scale=1.0">
<style>

  h1 {
    text-align: center;
    color: #1eb50d;
  }
  p {
    text-align: left;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
</style>
{% endblock meta %}

{% block content %}
<h1> Welcome To {{ username }}'s To Do List !</h1>
<p>Username: {{ username }}</p>

<div class="grid-container">
{% for task in tasks %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
    <p class="card-text">{{task.description}}</p>
    <button class="btn btn-danger"><a href="{% url 'todolist:delete' task.id %}" class="link-light">Delete</a></button>
  </div>
</div>
{% endfor %}
</div>

    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}

<p></p>
<button class="btn btn-primary"><a href="{% url 'todolist:create_task' %}" class="link-light">Tambah Task</a></button>

<button class="btn btn-primary"><a href="{% url 'todolist:logout' %}" class="link-light">Logout</a></button> 

{% endblock content %}